{% include 'layouts/default/header.twig' %}

<div class="row page-default page-add-worker">
    <div class="col-md-12">

        {% if isCorrect != empty and isCorrect[0] is not defined %}
            <div class="alert alert-success" role="alert">
                <strong>Отлично!</strong> Сотрудник добавлен
            </div>
        {% endif %}

        {% if isCorrect != empty and isCorrect[0] is defined %}
            <div class="alert alert-danger" role="alert">
                <strong>Ошибка!</strong> {{ isCorrect[0] }}
            </div>
        {% endif %}

        <h5>Добавить сотрудника:</h5>
        <form action="#" method="post">

            <div class="row">
                <!-- Name -->
                <div class="col-md-5">
                    <p>Имя:</p>
                    <input type="text" class="form-control" name="name"
                           value="{{ workerData.name }}">
                </div>

                <!-- Age -->
                <div class="col-md-5">
                    <p>Возраст:</p>
                    <input type="number" max="50" min="10"
                           class="form-control"
                           name="age"
                           value="{{ workerData.age }}">
                </div>


                <!-- Phone -->
                <div class="col-md-5">
                    <p>Контактный телефон:</p>
                    <input type="tel" class="form-control" name="phone"
                           value="{{ workerData.phone }}">
                </div>

                <!-- Address -->
                <div class="col-md-5">
                    <p>Адресс:</p>
                    <input type="text" class="form-control"
                           name="address"
                           value="{{ workerData.address }}">
                </div>

                <!-- Position -->
                <div class="col-md-10">
                    <p>Должность:</p>
                    <input type="text" class="form-control"
                           name="position"
                           value="{{ workerData.position }}">
                </div>


                <!-- Button -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="submit" value="Добавить"
                                   class="btn btn-success btn-block"
                                   name="add_worker">
                        </div>

                        <div class="col-md-3" id="link-bottom-panel">
                            <a href="/worker">Список пользователей</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'layouts/default/footer.twig' %}