{% include 'layouts/default/header.twig' %}

<div class="row page-list-workers page-default">
    <div class="col-md-12">

        {% if isRemove != empty and isRemove %}
            <div class="alert alert-success" role="alert">
                <strong>Отлично!</strong> Информация о выбраном сотруднике
                удалена с базы данных.
            </div>
        {% endif %}

        <div class="row top-panel">
            <div class="col-md-6"><h5>Список сотрудников кинотеатра:</h5>
            </div>
            <div class="col-md-6 right">
                <a href="/worker/add">
                    <button type="button" class="btn btn-outline-success btn-sm">
                        Добавить сотрудника
                    </button>
                </a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">Возраст</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Должность</th>
                <th scope="col">Адрес</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            {% if workersArr|length > 0 %}

                {% for worker in workersArr %}
                    <tr>
                        <th scope="row">{{ worker.id }}</th>
                        <td>{{ worker.name }}</td>
                        <td>{{ worker.age }}</td>
                        <td>{{ worker.phone }}</td>
                        <td>{{ worker.position }}</td>
                        <td>{{ worker.address }}</td>
                        <td>
                            <form action="#" method="post">
                                <input type="submit" value="Удалить"
                                       class="btn btn-primary btn-sm btn-block"
                                       name="remove_worker">
                                <input type="text"
                                       value="{{ worker.id }}"
                                       name="id_worker"
                                       hidden>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="7" id="no-row">Записей пока что нет...</td>
                </tr>
            {% endif %}

            </tbody>
        </table>


    </div>
</div>

{% include 'layouts/default/footer.twig' %}