{% include 'layouts/default/header.twig' %}

<div class="row page-default page-sessions-list">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Фильмы в прокате
                </li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <h5>Фильмы в прокате:</h5>
    </div>
    {% for session in  sessions %}
    <div class="col-md-4">
        <div class="box">
            <h3><a href="/film/{{ session.film_id }}">{{ session.film_name }}</a></h3>

            {% if session.genres != empty %}
                <p class="genre">{{ session.genres }}</p>
            {% endif %}

            <p class="time">Длительность: {{ session.continuance_min }} мин.</p>
            <p>Возрастные ограничения: {{ session.age_min }}+</p>
        </div>
    </div>
    {% endfor %}

</div>

{% include 'layouts/default/footer.twig' %}
