{% include 'layouts/default/header.twig' %}

<div class="row page-default page-session-view">

    <!-- Nav -->
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/films">Фильмы в
                        прокате</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ film.name }}
                </li>
            </ol>
        </nav>
    </div>

    <!-- Film info -->
    <div class="col-md-5">
        <div class="card">
            <h5 class="card-header">{{ film.name }}</h5>
            <div class="card-body">
                <p class="genres"><i>{{ film.genres }}</i></p>
                <p>
                    <b>Длительность</b>: {{ film.continuance_min }} мин.
                </p>
                <p><b>Возрастные ограничения</b>: {{ film.age_min }}+</p>
            </div>
        </div>
    </div>

    <!-- List sessions -->
    <div class="col-md-7">
        <div class="card">
            <h5 class="card-header">Сеансы</h5>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Время сеанса</th>
                        <th>Зал</th>
                        <th>Свободно мест</th>
                        <th>Стоимость</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for _session in sessionsOfFilm %}
                        <tr>
                            <td>{{ _session.date }}</td>
                            <td>№{{ _session.hall_number }}</td>
                            <td>{{ _session.countFreePlaces }}</td>
                            <td>{{ _session.price }} UAH</td>
                            <td>
                                <form action="#" method="post">
                                    <input type="submit"
                                           class="btn btn-outline-success btn-sm"
                                           value="Бронь"
                                           name="show_booking">
                                    <input type="text"
                                           value="{{ _session.session_id }}"
                                           name="session_id"
                                           hidden>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# Отобразить таблицу бронирования места #}
    {% if isShowBooking %}
        {% include '/film/twig_include/table_booking_place.twig' %}
    {% endif %}
</div>


<script>
    var session_price = '{% if session.price != empty %} {{ session.price }} {% endif %}';
    session_price = parseInt(session_price);

    var session_id = '{% if session.session_id != empty %} {{ session.session_id }} {% endif %}';
    session_id = parseInt(session_id);
</script>

{% include 'layouts/default/footer.twig' %}