{% import _self as this %}

<!-- Booking session -->
<div class="col-md-12" id="booking-session">

    <div class="alert alert-success" id="success-message"
         style="display:none;">
        <b>Успех!</b> Место(а) забронированы.
    </div>

    <div class="card">
        <h5 class="card-header">Бронь сеанса</h5>
        <div class="card-body">
            <p>Выберите место(а) которые Вы хотите
                забронировать:</p>

            <table id="select-places-in-session">

                {% for i in range(0, countRowInHall - 1) %}

                    <tr>
                        {% for j in range(0, placesInRowsForAllRows[i] - 1) %}
                            {% set place = (j + 1) + i * countPlacesInRow %}
                            <td>
                                <button class="btn btn-block {{ this.getClassButton(place, bookedPlaces) }}"
                                        {{ this.getDataSelectButton(place, bookedPlaces) }} >
                                    {{ place }}
                                </button>
                            </td>
                        {% endfor %}
                    </tr>

                {% endfor %}

            </table>

            <div class="row bottom-panel">

                <div class="col-md-9">
                    <p><b>Общая стоимость</b>: <span
                                data-price-value="">0</span> UAH</p>
                </div>

                <div class="col-md-3">
                    <button data-action="booking"
                            class="btn btn-outline-success btn-block">
                        Забронировать выбраное
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

{# Вовзвращает класс для кнопки. Если place не входит в bookedPlace,
   то место свободное - возвращаеться "btn-primary", в противном случае "btn-danger" #}
{% macro getClassButton(place, bookedPlace) %}
    {% set arr = [] %}

    {% for key, value in bookedPlace %}
        {% set arr = arr|merge([key]) %}
    {% endfor %}

    {% if place in arr %}
        {{ " btn-danger" }}
    {% else %}
    {{ " btn-primary" }}
    {% endif %}

{% endmacro %}

{# Возвращает атрибут data-select для кнопки. Если место забронировано,
   то для кнопки будет установленно значение data-select="false" #}
{% macro getDataSelectButton(place, bookedPlace) %}

    {% set arr = [] %}

    {% for key, value in bookedPlace %}
        {% set arr = arr|merge([key]) %}
    {% endfor %}

    {% if place in arr %}
        {{ 'data-select="false"' }}
    {% endif %}

{% endmacro %}
