<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Application</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/template/default/css/style.css">
</head>
<body>
<div id="wrapper">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/">CinemaService</a>
                </div>

                <div class="col-md-9 right">
                    <ul>
                        <li><a href="#">Профиль userName</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
