body {
    padding: 0;
}

div.header {
    background: #007bff;
    margin-bottom: 30px;
    padding: 15px 0px;
    color: white;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}
div.header a {
    color: white;
}
div.header .right {
    text-align: right;
}

div.header .right ul {
    padding: 0;
    margin: 0;
}

div.header .right ul li {
    display: inline-block;
}

.page-default h5 {
    margin-bottom: 25px;
}

table #no-row {
    text-align: center;
}

.page-list-workers .top-panel .right {
    text-align: right;
}

.page-add-worker input[type="submit"] {
    margin-top: 25px;
}

.page-add-worker p {
    margin-bottom: 5px;
}

.page-add-worker input[type="text"] {
    margin-bottom: 10px;
}

.page-add-worker #link-bottom-panel {
    position: relative;
    top: 31px;
}

.page-sessions-list .box {
    box-shadow: 2px 1px 2px 2px #00000014;
    border-radius: 1px;
    padding: 8px 17px;
    margin-bottom: 30px;
}

.page-sessions-list .box a {
    text-decoration: none;
    color: black;
}

.page-sessions-list .box h3 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px;
}

.page-sessions-list .box p.genre {
    font-size: 12px;
    font-style: oblique;
    background: yellow;
    display: inline;
    padding: 5px 7px;
    border-radius: 1px;
}

.page-sessions-list .box p.time {
    margin-top: 15px;
}

.page-sessions-list .box p {
    font-size: 15px;
    margin-bottom: 1px;
}

.page-default .card-header {
    margin-bottom: 5px;
}

.page-session-view table#select-places-in-session {
    width: 100%;
}

.page-session-view table#select-places-in-session td {
    padding: 0px 10px;
}

.page-session-view table#select-places-in-session button {
    margin-bottom: 20px;
}

.page-session-view #booking-session {
    margin-top: 20px;
}

.page-session-view .bottom-panel {
    margin-top: 25px;
}